a {text-decoration:none;}


.navbar {
display: flex;
  justify-content: space-between; /* logo left, links right */
  align-items: center;            /* vertical alignment */
  padding: 20px 40px;}
#toplogo {text-align:left;}

