a {text-decoration:none;}


.navbar {padding: 20px 20px;
         font-size: 20px;}

#toplogo {float:left;
         padding:0px;}
.navbar {
overflow: hidden;
background-color: #736B92; 
}

.navbar a {
font-size: 20px;
color: white;
text-align: right;
justify-content: space-between;
padding: 14px 16px;
border:0px;
margin:0px;
padding:0px;
}

body {margin:0;
   padding:0;
       background-color: #EDC7CF}

/* Add here for heading spacing */
h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.15em;
}
